[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
cython = "*"
computervision = {file = ".", editable = true}
pyscaffold = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
scikit-learn = "*"
scikit-image = "*"
opencv-python = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
