[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
cython = "*"
pyscaffold = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
scikit-learn = "*"
scikit-image = "*"
opencv-python = "*"
tqdm = "*"
albumentations = "*"
lightning = "*"
grad-cam = "*"
python-dotenv = "*"
computervision = {file = ".", editable = true}
pytest = "*"
pytest-cov = "*"
setuptools-scm = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.11"
